// Install cockroachDB via brew
brew install cockroach

// Command to start CockroachDB with in a insecure mode
cockroach start --insecure --store=node1 --listen-addr=localhost:26257 --http-addr=localhost:8080 --join=localhost:26257 --background
cockroach init --insecure --host=localhost:26257
cockroach sql --insecure --host=localhost:26257

// Only to close connection
cockroach quit --insecure --host=localhost:26257

// To create database snake and table scores
CREATE DATABASE snake;
CREATE USER IF NOT EXISTS root;
GRANT ALL ON DATABASE bank TO root;

SET DATABASE = snake;

CREATE TABLE IF NOT EXISTS "scores" (
    "score_id" STRING(50),
    "nickname" STRING(100),
    "total_score" INT4,
    "creation_date" TIMESTAMPTZ,
    PRIMARY KEY ("score_id")
);

// The connection uses environment variables to get the credentials
export DBHOST=localhost
export DBPORT=26257
export DBUSER=root
export DBPASS="\"\""
export DBNAME=snake
// if you have an empty password use export DBPASS="\"\""
